<ul class="flex flex-wrap">
    <li *ngFor="let mission of missions">   
        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <img [src]="mission.links.mission_patch" alt="Mission Image" class="mb-4 rounded-lg">
            <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">{{ mission.title }}</h3>
            <p class="mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300">{{ mission.launch_year }}</p>
            <p class="font-normal text-gray-700 dark:text-gray-400">{{ mission.details }}</p>
        </a>
    </li>
</ul>